*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Button Classes */

.btn {
    background-color: #A59678;
    color: #FFF;
    border-radius: 100px;
    text-decoration:  none;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    padding: 0.5em 1em;
    text-transform: uppercase;
}

/*
.nav__btn {
    
}
*/
.CTA-btn {
    font-size: 24px;
   }


/* Sections and Divs */

nav {
    width: 100%;
    background-color: #2E323F;
    color: #FFF;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
}

.nav__list {
    list-style: none;
    text-transform: uppercase;
}

/* JUST TO HELP VISUALISE REST OF LAYOUT ON SMALL SCREEN SIZES */
.nav__list {
    display: none;
}

.nav__item {
    margin-left: 1em;  /* May have to put in media query later to stay inline with mobile first design */
}

.hero-section {
    background-color: #3B4050;
}

.hero-section__title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 90px;
    line-height: 1.05em;
}

.hero-section__title--span {
    color: #A59678;
}

.hero-section__text {
    font-size: 24px;
    color: #6F737F;
}

.section-2 {
    background-color: #6F737F;
}

.section-2__title {
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #A59678;
}

.section-2__text {
    font-size: 18px;
}


/* Available Fonts

font-family: 'Montserrat', sans-serif;
font-family: 'Oswald', sans-serif;

*/

@media (min-width: 700px) {
    

}